*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
     background: linear-gradient(120deg,#e0e7e6, #e4e7e7);
     color: white;
     font-family: 'Poppins', sans-serif;
     min-height: 100vh;
}
header{
    font-size: 1.3rem;
    background: linear-gradient(120deg,#0a8676, #039179);
 
}
form{
    background:rgb(194, 193, 193);
    border-radius: .5rem;
    margin-bottom: 2%;
    padding-bottom: -2rem;
    
}
header,
form{
    min-height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
form input,
form button{
    padding: 0.5rem 2rem;
    font-size: 1.1  rem;
    border: none;
    background:white;
}
form input{
    padding:.5rem 6rem;
    border-radius: .2rem;
}
form button{
    color:#f8f8f8 ;
    background:rgb(33, 167, 149);
    cursor: pointer;
    transition: all 0.3 s ease;
}
form button i{
    font-size: 1.1rem;
}
form button:hover{
    background:#26d4cc ;
    color:white;

}
.todo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(233, 233, 233);
     
}
.todo-list{
    min-width: 30%;
    list-style: none;
   
}
.todo{
    margin: 0.2rem;
    padding: -1rem ;
    font-size: .9rem;
    background: rgb(221, 219, 219);
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all .5s ease;
    border-radius: .2rem;
    box-shadow: 0px 0px 0px black;
    border-style: none;
    

}
.todo li{
    flex: 1;
    padding: -2rem;
    
}
.trash-btn,.complete-btn{
    background-color: #237c69;
    font-size: 1rem;
    border:none;
    padding:1rem;
    color: white;
    cursor: pointer;
}
.trash-btn:hover{
    color:rgb(238, 29, 29);
    background-color:#26bdbd;
}
.complete-btn{
    background-color:rgb(44, 201, 96);

}
.todo-item{
    padding: 0rem .1rem;
}
.fa-trash,
.fa-check{
    pointer-events: none;
}

.completed{
    text-decoration: line-through;
    opacity: .4;
}
.fall{
    transform: translateX(11rem);
    opacity: 0;
}

select{
    -moz-appearance: none;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    border: none;
}
.select{
    margin: 1rem;
    position: relative;
    overflow: hidden;
}
select{
    color: rgb(20, 198, 211);
    width: 10rem;
    cursor: pointer;
    padding: .5rem;
}
.select::after{
    content: "\25BC";
    position: absolute;
    background:#039179;
    top: 0;
    right: 0;
    bottom: 0;
    padding: .4rem 1rem;
    pointer-events: none;
    transition: all 0.3s ease;
}
.select:hove::afterr{
    background: white;
    color: #26d4cc;
}